*.lxt
*.vvp
.DS_Store
*.o
*.hi
controller/controller
dspsw/resample
dspsw/resample.dSYM
*.wav
*.dat
*.pyc
testdata
isework
ipcore_dir
iseconfig
Thumbs.db
spdif_capture*
lpc/dmix_lpc_m0/Debug
lpc/dmix_lpc_m4/Debug
lpc/dmix_lpc_m0/Release
lpc/dmix_lpc_m4/Release
lpc/driver/dmixlpccli
