NET "clk112896" LOC = "B14" | IOSTANDARD = LVCMOS33 | TNM_NET = "clk112896";
NET "clk245760_pad" LOC = "G14" | IOSTANDARD = LVCMOS33 | TNM_NET = "clk245760" | CLOCK_DEDICATED_ROUTE = FALSE;

TIMESPEC "TS_clk112896" = PERIOD "clk112896" 11.2896Mhz HIGH 50%;
TIMESPEC "TS_clk245760" = PERIOD "clk245760" 24.576Mhz HIGH 50%;

NET "spdif_i<0>" LOC = "A14" | IOSTANDARD = LVCMOS33;

NET "dac_sck_o" LOC = "K15" | IOSTANDARD = LVCMOS33;
NET "dac_bck_o" LOC = "K13" | IOSTANDARD = LVCMOS33;
NET "dac_lrck_o" LOC = "K14" | IOSTANDARD = LVCMOS33;
NET "dac_data_o" LOC = "K12" | IOSTANDARD = LVCMOS33;

NET "led_o" LOC="T3";
NET "rst" LOC="D3" | PULLDOWN | TIG;
