NET clk245760_pad LOC=D11 | TNM_NET = "clk245760" | IOSTANDARD = LVCMOS33; # DESC=IO_L36P_GCLK15_0
TIMESPEC "TS_clk245760" = PERIOD "clk245760" 24.576Mhz HIGH 50%;

NET rst LOC=R16 | IOSTANDARD = LVCMOS33; # DESC=IO_L10P_2

NET spdif_i LOC=C5 | IOSTANDARD = LVCMOS33; # DESC=IO_L2P_0 SPDIF[0]

NET led_locked LOC=V19	| IOSTANDARD = LVCMOS33; # DESC=IO_L9P_2

NET dac_mclk_o LOC=A15	| IOSTANDARD = LVCMOS33; # DESC=IO_L51N_0
NET dac_lrck_o LOC=C15	| IOSTANDARD = LVCMOS33; # DESC=IO_L51P_0
NET dac_sda_o LOC=B16	| IOSTANDARD = LVCMOS33; # DESC=IO_L63P_SCP7_0
NET dac_sck_o LOC=A16	| IOSTANDARD = LVCMOS33; # DESC=IO_L63N_SCP6_0