NET clk245760_pad LOC=D11 | TNM_NET = "clk245760" | IOSTANDARD = LVCMOS33; # DESC=IO_L36P_GCLK15_0
TIMESPEC "TS_clk245760" = PERIOD "clk245760" 24.576Mhz HIGH 50%;

NET rst LOC=R16 | IOSTANDARD = LVCMOS33; # DESC=IO_L10P_2

NET spdif_i LOC=C5 | IOSTANDARD = LVCMOS33; # DESC=IO_L2P_0 SPDIF[0]

NET led_locked LOC=T20	| IOSTANDARD = LVCMOS33; # DESC=IO_L9P_2
NET led[0] LOC=V19	| IOSTANDARD = LVCMOS33; # DESC=IO_L9P_2
NET led[1] LOC=V18	| IOSTANDARD = LVCMOS33; # DESC=IO_L9N_2
NET led[2] LOC=T17	| IOSTANDARD = LVCMOS33; # DESC=IO_L4N_VREF_2
NET led[3] LOC=T18	| IOSTANDARD = LVCMOS33; # DESC=IO_L4P_2

NET dac_mclk_o LOC=A15	| IOSTANDARD = LVCMOS33; # DESC=IO_L51N_0
NET dac_lrck_o LOC=C15	| IOSTANDARD = LVCMOS33; # DESC=IO_L51P_0
NET dac_sda_o LOC=B16	| IOSTANDARD = LVCMOS33; # DESC=IO_L63P_SCP7_0
NET dac_sck_o LOC=A16	| IOSTANDARD = LVCMOS33; # DESC=IO_L63N_SCP6_0

NET csr_miso LOC=V17	| IOSTANDARD = LVCMOS33; # DESC=IO_L11P_2
NET csr_mosi LOC=W17	| IOSTANDARD = LVCMOS33; # DESC=IO_L11N_2
NET csr_ss LOC=Y19	| IOSTANDARD = LVCMOS33; # DESC=IO_L5P_2
NET csr_sck LOC=AB19	| IOSTANDARD = LVCMOS33; # DESC=IO_L5N_2

NET nkmd_uart_rx LOC=AB21	| IOSTANDARD = LVCMOS33; # DESC=IO_L2N_CMPMOSI_2
NET nkmd_uart_Tx LOC=AA21	| IOSTANDARD = LVCMOS33; # DESC=IO_L2P_CMPCLK_2

# aki300 lcd
NET lcd_r[0] LOC=U16	| IOSTANDARD = LVCMOS33; # DESC=IO_L8N_2
NET lcd_r[1] LOC=Y9	| IOSTANDARD = LVCMOS33; # DESC=IO_L43P_2
NET lcd_r[2] LOC=W13	| IOSTANDARD = LVCMOS33; # DESC=IO_L18N_2
NET lcd_r[3] LOC=AB9	| IOSTANDARD = LVCMOS33; # DESC=IO_L43N_2
NET lcd_r[4] LOC=V13	| IOSTANDARD = LVCMOS33; # DESC=IO_L18P_2
NET lcd_r[5] LOC=AA8	| IOSTANDARD = LVCMOS33; # DESC=IO_L45P_2
NET lcd_g[0] LOC=V11	| IOSTANDARD = LVCMOS33; # DESC=IO_L42P_2
NET lcd_g[1] LOC=AB8	| IOSTANDARD = LVCMOS33; # DESC=IO_L45N_2
NET lcd_g[2] LOC=W11	| IOSTANDARD = LVCMOS33; # DESC=IO_L42N_2
NET lcd_g[3] LOC=Y7	| IOSTANDARD = LVCMOS33; # DESC=IO_L48P_D7_2
NET lcd_g[4] LOC=W10	| IOSTANDARD = LVCMOS33; # DESC=IO_L44P_2
NET lcd_g[5] LOC=AB7	| IOSTANDARD = LVCMOS33; # DESC=IO_L48N_RDWR_B_VREF_2
NET lcd_b[0] LOC=Y10	| IOSTANDARD = LVCMOS33; # DESC=IO_L44N_2
NET lcd_b[1] LOC=R9	| IOSTANDARD = LVCMOS33; # DESC=IO_L59P_2
NET lcd_b[2] LOC=R8	| IOSTANDARD = LVCMOS33; # DESC=IO_L59N_2
NET lcd_b[3] LOC=AA6	| IOSTANDARD = LVCMOS33; # DESC=IO_L49P_D3_2
NET lcd_b[4] LOC=R7	| IOSTANDARD = LVCMOS33; # DESC=IO_L60N_2
NET lcd_b[5] LOC=AB6	| IOSTANDARD = LVCMOS33; # DESC=IO_L49N_D4_2
NET lcd_vsync LOC=T7	| IOSTANDARD = LVCMOS33; # DESC=IO_L60P_2
NET lcd_hsync LOC=AA4	| IOSTANDARD = LVCMOS33; # DESC=IO_L57P_2
NET lcd_nclk LOC=AB4	| IOSTANDARD = LVCMOS33; # DESC=IO_L57N_2
NET lcd_de LOC=AB11	| IOSTANDARD = LVCMOS33; # DESC=IO_L32N_GCLK28_2
