# NET CLK125M	LOC=AA12	| IOSTANDARD = LVCMOS15; # may not be there
NET CLK100M	LOC=Y13	| IOSTANDARD = LVCMOS33; # tabun?
NET CLK24M576	LOC=D11	| IOSTANDARD = LVCMOS33; # DESC=IO_L36P_GCLK15_0
NET CLK22M5792	LOC=C12	| IOSTANDARD = LVCMOS33; # DESC=IO_L36N_GCLK14_0

NET LED_M	LOC=T20	| IOSTANDARD = LVCMOS33;

NET LED[0]	LOC=V19	| IOSTANDARD = LVCMOS33; # DESC=IO_L9P_2
NET LED[1]	LOC=V18	| IOSTANDARD = LVCMOS33; # DESC=IO_L9N_2
NET LED[2]	LOC=T17	| IOSTANDARD = LVCMOS33; # DESC=IO_L4N_VREF_2
NET LED[3]	LOC=T18	| IOSTANDARD = LVCMOS33; # DESC=IO_L4P_2

NET SW[0]	LOC=R16 | IOSTANDARD = LVCMOS33; # DESC=IO_L10P_2
NET SW[1]	LOC=R15 | IOSTANDARD = LVCMOS33; # DESC=IO_L10N_2

NET SPDIF[0]	LOC=C5	| IOSTANDARD = LVCMOS33; # DESC=IO_L2P_0
NET SPDIF[1]	LOC=B6	| IOSTANDARD = LVCMOS33; # DESC=IO_L4P_0
NET SPDIF[2]	LOC=A7	| IOSTANDARD = LVCMOS33; # DESC=IO_L5N_0
NET SPDIF[3]	LOC=C7	| IOSTANDARD = LVCMOS33; # DESC=IO_L5P_0
NET GPIO[0]	  LOC=A8	| IOSTANDARD = LVCMOS33; # DESC=IO_L6N_0
NET GPIO[1]	  LOC=B8	| IOSTANDARD = LVCMOS33; # DESC=IO_L6P_0
NET GPIO[2]	  LOC=A9	| IOSTANDARD = LVCMOS33; # DESC=IO_L8N_VREF_0
NET GPIO[3]	  LOC=C9	| IOSTANDARD = LVCMOS33; # DESC=IO_L8P_0

NET UART_RXD	LOC=AB21	| IOSTANDARD = LVCMOS33; # DESC=IO_L2N_CMPMOSI_2
NET UART_TXD	LOC=AA21	| IOSTANDARD = LVCMOS33; # DESC=IO_L2P_CMPCLK_2

NET SPI_MISO	LOC=V17	| IOSTANDARD = LVCMOS33; # DESC=IO_L11P_2
NET SPI_MOSI	LOC=W17	| IOSTANDARD = LVCMOS33; # DESC=IO_L11N_2
NET SPI_SSEL	LOC=Y19	| IOSTANDARD = LVCMOS33; # DESC=IO_L5P_2
NET SPI_SCK 	LOC=AB19	| IOSTANDARD = LVCMOS33; # DESC=IO_L5N_2

NET COAX[0] LOC=AB12 | IOSTANDARD = LVCMOS33; # DESC=IO_L31N_GCLK30_D15_2
NET COAX[1] LOC=Y12 | IOSTANDARD = LVCMOS33; # DESC=IO_L29N_GCLK2_2

NET I2S0_MCLK	LOC=A15	| IOSTANDARD = LVCMOS33; # DESC=IO_L51N_0
NET I2S0_WS	  LOC=C15	| IOSTANDARD = LVCMOS33; # DESC=IO_L51P_0
NET I2S0_SDA	LOC=B16	| IOSTANDARD = LVCMOS33; # DESC=IO_L63P_SCP7_0
NET I2S0_SCK	LOC=A16	| IOSTANDARD = LVCMOS33; # DESC=IO_L63N_SCP6_0

NET I2S1_MCLK_N LOC=A10	| IOSTANDARD = LVCMOS33; # DESC=IO_L34N_GCLK18_0
NET I2S1_MCLK_P LOC=B10	| IOSTANDARD = LVCMOS33; # DESC=IO_L34P_GCLK19_0
NET I2S1_WS	    LOC=C8	| IOSTANDARD = LVCMOS33; # DESC=IO_L7N_0
NET I2S1_SDA	  LOC=D9	| IOSTANDARD = LVCMOS33; # DESC=IO_L7P_0
NET I2S1_SCK	  LOC=D10	| IOSTANDARD = LVCMOS33; # DESC=IO_L33P_0

NET I2S2_MCLK	  LOC=B18	| IOSTANDARD = LVCMOS33; # DESC=IO_L65P_SCP3_0
NET I2S2_WS 	  LOC=A18	| IOSTANDARD = LVCMOS33; # DESC=IO_L65N_SCP2_0
NET I2S2_SDA	  LOC=A17	| IOSTANDARD = LVCMOS33; # DESC=IO_L64N_SCP4_0
NET I2S2_SCK	  LOC=C17	| IOSTANDARD = LVCMOS33; # DESC=IO_L64P_SCP5_0

NET SATA_RX_N	  LOC=A12	| IOSTANDARD = LVCMOS33; # DESC=IO_L37N_GCLK12_0
NET SATA_RX_P	  LOC=B12	| IOSTANDARD = LVCMOS33; # DESC=IO_L37P_GCLK13_0
NET SATA_TX_N	  LOC=A13	| IOSTANDARD = LVCMOS33; # DESC=IO_L38N_VREF_0
NET SATA_TX_P	  LOC=C13	| IOSTANDARD = LVCMOS33; # DESC=IO_L38P_0

NET LCD_VS	LOC=W18	| IOSTANDARD = LVCMOS33; # DESC=IO_L6P_2
NET LCD_CLK	LOC=Y15	| IOSTANDARD = LVCMOS33; # DESC=IO_L21P_2
NET LCD_DISP	LOC=Y17	| IOSTANDARD = LVCMOS33; # DESC=IO_L15P_2
NET LCD_DATA[0] LOC=U17	| IOSTANDARD = LVCMOS33; # DESC=IO_L8P_2
NET LCD_DATA[1] LOC=AB10	| IOSTANDARD = LVCMOS33; # DESC=IO_L41N_VREF_2
NET LCD_DATA[2] LOC=U16	| IOSTANDARD = LVCMOS33; # DESC=IO_L8N_2
NET LCD_DATA[3] LOC=Y9	| IOSTANDARD = LVCMOS33; # DESC=IO_L43P_2
NET LCD_DATA[4] LOC=W13	| IOSTANDARD = LVCMOS33; # DESC=IO_L18N_2
NET LCD_DATA[5] LOC=AB9	| IOSTANDARD = LVCMOS33; # DESC=IO_L43N_2
NET LCD_DATA[6] LOC=V13	| IOSTANDARD = LVCMOS33; # DESC=IO_L18P_2
NET LCD_DATA[7]	LOC=AA8	| IOSTANDARD = LVCMOS33; # DESC=IO_L45P_2
NET LCD_DATA[8] LOC=V11	| IOSTANDARD = LVCMOS33; # DESC=IO_L42P_2
NET LCD_DATA[9] LOC=AB8	| IOSTANDARD = LVCMOS33; # DESC=IO_L45N_2
NET LCD_DATA[10] LOC=W11	| IOSTANDARD = LVCMOS33; # DESC=IO_L42N_2
NET LCD_DATA[11] LOC=Y7	| IOSTANDARD = LVCMOS33; # DESC=IO_L48P_D7_2
NET LCD_DATA[12] LOC=W10	| IOSTANDARD = LVCMOS33; # DESC=IO_L44P_2
NET LCD_DATA[13] LOC=AB7	| IOSTANDARD = LVCMOS33; # DESC=IO_L48N_RDWR_B_VREF_2
NET LCD_DATA[14] LOC=Y10	| IOSTANDARD = LVCMOS33; # DESC=IO_L44N_2
NET LCD_DATA[15] LOC=R9	| IOSTANDARD = LVCMOS33; # DESC=IO_L59P_2
NET LCD_DATA[16] LOC=R8	| IOSTANDARD = LVCMOS33; # DESC=IO_L59N_2
NET LCD_DATA[17] LOC=AA6	| IOSTANDARD = LVCMOS33; # DESC=IO_L49P_D3_2
NET LCD_DATA[18] LOC=R7	| IOSTANDARD = LVCMOS33; # DESC=IO_L60N_2
NET LCD_DATA[19] LOC=AB6	| IOSTANDARD = LVCMOS33; # DESC=IO_L49N_D4_2
NET LCD_DATA[20] LOC=T7	| IOSTANDARD = LVCMOS33; # DESC=IO_L60P_2
NET LCD_DATA[21] LOC=AA4	| IOSTANDARD = LVCMOS33; # DESC=IO_L57P_2
NET LCD_DATA[22] LOC=AB4	| IOSTANDARD = LVCMOS33; # DESC=IO_L57N_2
NET LCD_DATA[23] LOC=AB11	| IOSTANDARD = LVCMOS33; # DESC=IO_L32N_GCLK28_2
